{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="grid">
  <div class="login-size">
    <div class="box-center">
      <div class="logo">
        <img src="{% static "ssafy_logo.png"%}" alt="ssafy" style="width: 100px">
        <p class="text-bold text-size-25">싸피인</p>
      </div>
        <form action="{% url "accounts:login" %}" method="POST" class="container">
          {% csrf_token %}
          {{ form }}
          {% comment %} <input type="text" class="gray-border login-box" id="id" name="id" placeholder="아이디"> {% endcomment %}
          {% comment %} <input type="password" class="gray-border login-box" id="password" name="password" placeholder="비밀번호"> {% endcomment %}
          <input type="submit" class="blue white login-box text-bold" value="로그인">
        </form>
    </div>
  </div>
  <div class="data-size box-center gray-border box-round">
    <div class="data-box">
      <p class="text-bold text-size-20">20F</p>
      {% for menu in 20F_menu %}
      <p class="text-bold text-size-15">{{menu.set_menu_name}}</p>
      {% endfor %}
    </div>
    <hr class="gray-br">
    <div class="data-box">
      <p class="text-bold text-size-20">10F</p>
      {% for menu in 10F_menu %}
      <p class="text-bold text-size-15">{{menu.set_menu_name}}</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}