
body {
  margin: 0;
}
a {
  text-decoration: none;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.container {
  display: flex;
  flex-direction: column;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header {
    height: 30px;
    border-bottom: 3px solid #ced4da;
}
.blue {
  background-color: #0275d8;
}
.white {
  color: white;
}
.gray {
  color: gray;
}
.gray-border {
  border: 2px solid #ced4da;
}
.gray-br {
  background:#ced4da;
  height:1px;
  border: 1px;
}
input::placeholder {
  color: #ced4da;
  font-size: 14px;
}
.login-box {
  padding: 1.5em;
  border-radius: 5px;
  margin: 15px;
}
.text-bold {
  font-weight: bold;
}
.text-size-25 {
  font-size: 25px;
}
.text-size-20 {
  font-size: 20px;
}
.text-size-15 {
  font-size: 15px;
}
.box-center {
  margin-top: 180px;
}
.login-size {
  width: 400px;
  height: 500px;
}
.data-size {
  width: 550px;
  height: 400px;
}
.data-box {
  margin: 30px;
}
.box-round {
  border-radius: 5px;
}
.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-center {
  text-align: center;
}
.btn-home {
  display: inline-block;
  border: 2px solid #ced4da;
  padding: 1em;
  border-radius: 5px;
  margin: 15px;
}